.cartcontainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.checkoutCTA {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: end;
    padding: 20px 125px;
    gap: 30px;
}